@font-face {
  font-family: "iconfont"; /* Project id 1931343 */
  src: url('iconfont.woff2?t=1623294189008') format('woff2'),
       url('iconfont.woff?t=1623294189008') format('woff'),
       url('iconfont.ttf?t=1623294189008') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconiconset0136:before {
  content: "\e623";
}

.iconjiaoyi:before {
  content: "\e637";
}

.iconlinkurlbuild:before {
  content: "\e62e";
}

.iconshijian:before {
  content: "\e6e1";
}

.iconjinqian:before {
  content: "\e651";
}

.iconicon-test:before {
  content: "\e61e";
}

.iconflag:before {
  content: "\e664";
}

.iconjinggao:before {
  content: "\e66b";
}

.iconziyuanxhdpi:before {
  content: "\e648";
}

.icongonggao:before {
  content: "\e621";
}

.iconhands:before {
  content: "\e62f";
}

.iconbianji:before {
  content: "\e613";
}

.iconmenu1:before {
  content: "\e618";
}

.iconjihuarenwu:before {
  content: "\e631";
}

.iconbiaoqian:before {
  content: "\e634";
}

.iconjindu:before {
  content: "\e669";
}

.iconlaba:before {
  content: "\e649";
}

.icon043lifangti:before {
  content: "\e7ba";
}

.iconxinxi-01:before {
  content: "\e603";
}

.iconalarm:before {
  content: "\e871";
}

.iconshujuku:before {
  content: "\e650";
}

.iconrenyuan:before {
  content: "\e62b";
}

.iconwenjian:before {
  content: "\e660";
}

.iconzhifeiji:before {
  content: "\e62d";
}

.iconjihua:before {
  content: "\e653";
}

.iconzhuye:before {
  content: "\e620";
}

.iconjihua1:before {
  content: "\e696";
}

.iconshaixuan1:before {
  content: "\e6b1";
}

.icongengduo:before {
  content: "\e685";
}

.iconshanchu:before {
  content: "\e670";
}

.iconxiugai:before {
  content: "\e61f";
}

.icondingbulan:before {
  content: "\e62c";
}

.iconyoufanye:before {
  content: "\e76a";
}

.iconzuofanye:before {
  content: "\e773";
}

.iconxiangqingpeizhi:before {
  content: "\e617";
}

.iconkelong:before {
  content: "\e67a";
}

.icondangan:before {
  content: "\e762";
}

.iconzengjia:before {
  content: "\e602";
}

.icontubiao:before {
  content: "\e605";
}

.iconmenu:before {
  content: "\e600";
}

.iconkuangjiashezhi:before {
  content: "\e729";
}

.iconshouqi-:before {
  content: "\e647";
}

.iconziyuan:before {
  content: "\e60f";
}

.iconxiayi:before {
  content: "\e681";
}

.iconshangyi:before {
  content: "\e682";
}

.iconicon-system-fn-configure:before {
  content: "\e639";
}

.iconshaixuan:before {
  content: "\e65b";
}

.iconkuozhan-copy:before {
  content: "\e804";
}

.icontuozhuai:before {
  content: "\e636";
}

.iconkuozhan:before {
  content: "\e6ab";
}

