* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: content-box;
}

body {
  font-size: 14px;
  color: #333333;
  min-width: 1200px;
}
/*鼠标移入样式*/
.cursor-default {
  cursor: default;
}
.cursor-auto {
  cursor: auto;
}
.cursor-pointer {
  cursor: pointer;
}
.warning-color {
  color: #f69e37;
}
@bg: #ebeef5;
@border: #c1c1c1;
.theme-bg {
  background: @bg;
}
/*框架布局*/
#bao-wei-charts {
  height: 100%;
}
@headerHeight: 38px;
.KFQ_wrap {
  height: 100%;
  .el-header {
    width: 100%;
    height: @headerHeight !important;
    background: url(../images/顶部.png) no-repeat center;
    background-size: cover;
    // padding-top: 9px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    display: flex;
    justify-content: space-between;
    .logo {
      height: @headerHeight;
      line-height: @headerHeight;
      width: 377px;
      display: flex;
      justify-items: center;
      img {
        height: 24px;
        margin-top: 6px;
      }
      span {
        font-size: 16px;
        font-weight: 600;
        padding-right: 10px;
        padding-left: 3px;
        color: white;
      }
      .menu_icon {
        font-size: 18px;
        font-weight: 500;
        margin-top: 8px;
        cursor: pointer;
      }
    }

    .header_menu {
      display: flex;
      height: @headerHeight;
      // margin-top: 9px;
      li {
        width: 130px;
        width: 130px;
        height: @headerHeight;
        // background-color: rgba(255, 255, 255, 1);

        font-size: 15px;

        text-align: center;
        line-height: @headerHeight;
        color: white;
        border-left: 1px solid white;
        cursor: pointer;
      }
      li:first-child {
        border-left: none;
      }
      li.active {
        font-weight: 700;
        border-bottom: 3px solid #ffcd49;
        height: 35px;
        color: #ffcd49;
      }
    }
    .personal_information {
      line-height: @headerHeight;
      img {
        vertical-align: middle;
      }
      .system {
        cursor: pointer;
      }
    }
  }
  .el-aside {
    height: 100%;
    background: white;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-bottom: 0;
    .el-menu-item {
      color: white;
    }
    .el-menu-item.is-active {
      color: white;
      background-color: #1890ff;
    }
    .el-menu-item:hover,
    .el-menu-item:focus {
      outline: none;
      color: white;
      background-color: #1890ff;
    }
    .menu_control {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
    .el-menu-vertical-demo {
      height: 100%;
      .el-menu-item,
      .el-submenu__title {
        height: 40px;
        line-height: 40px;
        .iconfont {
          padding-right: 2px;
        }
      }
    }
  }
  .el-main {
    height: 100%;
    position: relative;

    padding: 8px;
    overflow: auto;
    .my_main_content {
      height: 100%;
    }
  }
}
@hoverMenuHeight: 50px;
.hoverMenu {
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  transition: all 0.3s;
  .box {
    width: @hoverMenuHeight;
    position: relative;

    .top {
      width: @hoverMenuHeight;
      height: @hoverMenuHeight;
      color: white;
      line-height: @hoverMenuHeight;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
    }
    ul {
      padding-top: @hoverMenuHeight;
      background: white;
      border-radius: 25px;

      height: 0;
      padding-bottom: 0;
      overflow-y: hidden;
      li {
        height: 30px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
      }
    }
  }
}
.hoverMenu:hover .box ul {
  height: auto;
  padding-bottom: 10px;
}

//抽屉模块配置

#bao-wei-charts {
  .pageSetting {
    @width1: 100px;
    .el-drawer {
      width: 265px !important;
      position: absolute;
    }
    .assembly_wrap {
      margin-left: 20px;
      display: flex;
      justify-content: flex-start;
      li {
        width: @width1;
        height: 80px;
        padding: 10px 0;
        text-align: center;
        border: 1px solid @border;
        cursor: pointer;
        position: relative;
        background: white;
        margin: 5px;
        i {
          font-size: 40px;
          line-height: 50px;
        }
        p {
          font-size: 16px;
          line-height: 30px;
        }
        .mengban {
          position: absolute;
          width: @width1;
          height: @width1;
          left: 0;
          top: 0;
          background: #409effa3;
          display: none;
          z-index: 8;
          font-size: 50px;
          text-align: center;
          line-height: @width1;
          color: white;
        }
      }
      li:hover {
        .mengban {
          display: block;
        }
      }
    }
  }
}

/*queryStatistics*/
.queryStatistics {
  display: flex;

  .queryStatistics_left {
    width: 353px;
    padding: 0 8px;
    height: auto;
    position: relative;
    background: @bg;
    z-index: 9;

    .YDQK_Statistics {
      margin-top: 10px;

      .YDQKStatistics_title {
        display: flex;

        .el-select {
          width: 130px;
          margin-left: 10px;
          position: relative;
          top: -2px;
        }
      }
    }
  }
}

.statisticsWrap {
  border-width: 0px;
  width: 336px;
  overflow: hidden;
  // padding: 0 20px 10px;
  // height: 230px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(123, 117, 117, 0.54);
  .icontuozhuai {
    font-size: 14px;
    position: absolute;
  }
}

.el-popconfirm .el-popconfirm__action {
  margin-top: 10px;
}

.settingForm .el-dialog {
  margin-bottom: 0;
}

.statistics_title {
  height: 28px;
  border-bottom: 1px solid #d8d8d8;
  // position: relative;
  // width: 100%;
  // padding-top: 10px;
  // padding-left: 20px;
  padding: 10px 20px 0;
  // left: -20px;
  background: #f5f7fa;
  .el-icon-close {
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    color: #a5a3a3;
    cursor: pointer;
  }
  .more {
    font-size: 14px;
    display: inline-block;
    width: 28px;
    cursor: pointer;
    color: #a5a3a3;
  }
  .box {
    height: 20px;
    width: 100%;
    border-left: 3px solid;
    display: flex;
    line-height: 20px;
    justify-content: space-between;

    .left {
      .txt1 {
        display: inline-block;
        font-size: 16px;
        margin-left: 10px;
      }

      .txt2 {
        display: inline-block;
        font-size: 14px;
        line-height: 25px;
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      // margin-right: 20px;
      i {
        margin-right: 5px;
        font-size: 18px;
        cursor: pointer;
      }

      .txt3 {
        font-size: 12px;
        color: #7f7f7f;
        margin-right: 10px;
        display: inline-block;
      }

      .el-icon-setting,
      .el-icon-delete {
        display: inline-block;
        line-height: 20px;
        cursor: pointer;
      }

      .el-icon-delete {
        color: red;
      }
    }

    .pic {
      position: relative;
      // margin-right: 5px;

      .t_list {
        position: absolute;
        display: none;
        // left: 0;
        top: 0px;
        // padding-left: 32px;
        right: 20px;
        padding-right: 5px;
        padding-left: 0;
        z-index: 99;

        ul {
          box-shadow: 0 0 3px #999999;
          width: 100px;
          height: auto;
          background: white;
          border-radius: 5px;
          padding: 5px 0;

          li {
            line-height: 24px;
            text-align: center;
            cursor: pointer;
          }

          li.active {
            color: white;
          }
        }
      }
    }

    .pic:hover {
      .t_list {
        display: block;
      }
    }
  }
}

// table
#bw_table {
  td {
    padding: 3px 0;
  }
  th {
    padding: 0;
  }

  .caret-wrapper {
    height: 26px;

    .sort-caret.ascending {
      top: 2px;
    }

    .sort-caret.descending {
      bottom: 2px;
    }
  }
  .el-table__row .cell {
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
#bw_list,
#bw_table {
  .el-pagination {
    margin-top: 5px;
  }
}

/*list 列表*/
.bw_list1 {
  border-bottom: 1px solid #f1f1f1;
  li {
    display: flex;
    line-height: 32px;
    justify-content: space-between;
    .cell {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 30px;
    }
    // > span {
    //   display: inline-block;
    //   text-align: left;
    // }
    .txt3 {
      // color: @color;
      font-weight: lighter;
      // color: #7f7f7f;
      font-size: 12px;
      padding-left: 5px;
    }
  }
  li.border {
    border-bottom: 1px solid #d8d8d8;
  }
}
.right-operate-button {
  .el-button--mini {
    padding: 5px 10px;
  }
}
/*详情模块*/
.YDFLStatistics,
.YDGCStatistics2 {
  .statistics_title {
    border-bottom: none;
    height: 25px;
    margin-top: 5px;

    .box {
      border-left: none;

      .txt1 {
        margin-left: 0;
        font-size: 14px;
      }

      .txt5 {
        color: #777777;
        display: inline-block;
        margin-left: 578px;
      }

      .txt6 {
        color: #777777;
        display: inline-block;
        margin-left: 472px;
      }
    }
  }
}

.YDGCStatistics2 {
  .statistics_box {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .statistics_left {
      width: 50%;
    }

    .YDGCStatisticsRight {
      width: 50%;
    }
  }
}

// case2
.statisticsWrapCase2 {
  position: absolute;
  top: 300px;
  left: 10px;

  .statisticsBox {
    position: relative;
    width: 100%;
    height: 100%;
    .statistics-content {
      padding: 0 20px 10px;
    }
  }

  .suofang {
    position: absolute;

    height: 30px;
    width: 30px;
    z-index: 9999999;
    // background: #999999;

    // .iconfont {
    //   font-size: 20px;
    //   cursor: pointer;
    //   // display: none;
    // }
  }

  .suofang:hover .iconfont {
    display: block;
  }
}

.shubiao-move {
  cursor: move;
}
.suofang-right {
  bottom: -10px;
  right: -20px;
  &:hover {
    cursor: nw-resize;
  }
}
.suofang-left {
  bottom: -10px;
  left: -20px;
  &:hover {
    cursor: ne-resize;
  }
}
/*字段配置、参数配置公共样式*/
.zdpz_list {
  display: inline-block;
  border-right: 1px solid @border;
  border-bottom: 1px solid @border;
  li {
    display: flex;
    justify-items: center;
    padding: 0;
    line-height: 32px;
    height: 32px;
    & > span {
      display: block;
      border-left: 1px solid @border;
      border-top: 1px solid @border;
      width: 60px;
      height: auto;
      text-align: center;
    }

    .hTxt9 {
      width: 100px;
    }
  }
  .zdpz_list_header .icons {
    font-size: 24px;
    cursor: pointer;
  }
  .zdpz_list_content {
    .el-input {
      width: 100%;
      display: block;
    }
    .input-with-select {
      position: relative;
      .el-input-group__append {
        z-index: 999;
        // height: 32px;
        position: absolute;
        right: 1px;
        top: 1px;
        height: 26px;
        line-height: 28px;
        text-align: center;
        .el-button {
          padding: 0;
        }
      }
    }
    .el-input__inner {
      padding: 0 5px;
      height: 30px;
      line-height: 30px;
      display: block;
    }
  }
}
/* settingForm  start*/
.settingForm {
  .el-dialog {
    width: 1200px;
  }
  .el-dialog__body {
    max-height: 500px;
    overflow-y: auto;
  }

  .el-form-item__label {
    font-size: 13px;
    padding-right: 5px;
    line-height: 34px;
  }

  .el-input-number {
    width: 172px;
  }

  .el-form-item {
    margin-bottom: 5px;
  }
  .el-row-menu-tap {
    margin-top: 5px;
  }
  .el-form-item__content {
    line-height: 34px;
  }
  .content-dy-box {
    padding: 5px;
    border: 1px solid @border;
    border-radius: 5px;
  }
  .details-table-list,
  .top-bar-setting-list {
    display: block;
    border-right: 1px solid @border;
    border-bottom: 1px solid @border;
    // margin-left: 100px;
    // max-height: 200px;
    // overflow: auto;
    li {
      display: flex;
      justify-items: center;
      .hTxt {
        display: block;
        border-left: 1px solid @border;
        border-top: 1px solid @border;
        width: 100px;
        height: auto;
        text-align: center;
        line-height: 28px;
        padding: 1px 3px;
      }

      .hTxt.icons {
        width: 100px;
      }
      .hTxt01 {
        width: 75px;
        .el-input-number--small {
          width: 100%;
        }
        .el-input-number.is-controls-right .el-input__inner {
          padding-left: 5px;
          padding-right: 35px;
        }
      }
      .hTxt05 {
        width: 60px;
      }

      .hTxt06 {
        font-size: 22px;
        i {
          cursor: pointer;
        }
        i.disabled {
          cursor: no-drop;
          color: #c0c4cc;
        }

        i.remove {
          color: red;
        }
      }
    }
    li.box-shadow-error {
      box-shadow: 0 0 5px red;
    }
  }
}
/*接口参数配置--树形弹窗*/
.param-tree-dialog {
  .el-dialog {
    width: 700px;
    .el-tree {
      .param-tree-node {
        display: flex;
        width: 100%;
        & > span {
          display: block lin;
        }
        .txt1 {
          font-size: 16px;
        }
        .txt2 {
          width: 400px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          height: 20px;
          font-size: 12px;
          position: relative;
          top: 2px;
        }
      }
      .is-checked {
        background: #f5f8fb;
      }
    }
  }
}
/*字段配置列表*/
.keys-config-setting {
  .tips {
    // position: absolute;
    height: 12px;
    width: 100%;
    font-size: 12px;
    // top: -25px;
    // left: 0;
    color: #e6a23c;
    // height: 0;
  }
  .zdhq-btn {
    margin-bottom: 12px;
  }
}
.keys-config-list {
  .icons {
    font-size: 22px;
    width: 110px;
    height: 30px;
    i {
      cursor: pointer;
    }
    i.disabled {
      cursor: no-drop;
      color: #c0c4cc;
    }
    i.remove {
      color: red;
    }
  }
  // .el-form-item__content {
  //   // border: 1px solid #dcdcd8;
  //   position: relative;

  // }
}
.fieldset-list {
  display: flex;
  justify-content: center;
}
/*iframe配置*/
.iframe-dy-box {
  .fieldset-list {
    justify-content: left;
    margin-left: 130px;
    .zdpz_list li > span:nth-child(3) {
      width: 300px;
    }
  }
}

/*模块配置--参数配置*/
.param-config-setting {
  // width: 436px;
  margin-right: 10px;
  & > .el-button {
    margin-bottom: 12px;
  }
  .param-config-list li {
    & > span:first-child {
      width: 80px;
    }
    & > span:nth-child(2) {
      width: 100px;
    }
    & > span:nth-child(3) {
      width: 130px;
    }
  }
}

/*饼图、环图模块配置*/
.v_chart_pie {
  .choose {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

    .btn {
      width: 150px;
    }

    button {
      padding: 2px 8px;
      border: none;
      border-radius: 5px;
      background: #7f7f7f;
      color: white;
      margin-right: 5px;
    }
    .txt {
      display: block;
      color: #7f7f7f;
    }
  }

  .pie_box {
    position: relative;
    width: 100%;
  }
}

.statisticsMask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.2;
  top: 0;
  left: 0;
}

/*screenForm*/
.screenForm {
  .el-dialog {
    width: 1100px;
    .screenForm-top {
      margin-bottom: 15px;
    }
    .form-setting {
      margin-bottom: 15px;
    }
    .el-input__inner {
      padding: 0 5px;
    }
    .el-input-number--small {
      width: 100%;
    }
    .rightIcon {
      height: 30px;
      line-height: 30px;
      text-align: center;

      i {
        font-size: 18px;
        cursor: pointer;
      }

      .el-icon-delete {
        color: red;
      }

      i.disabled {
        cursor: no-drop;
        color: #c0c4cc !important;
      }
    }

    .dialog-footer {
      display: flex;
      justify-content: space-between;
    }
  }
}
.btn-color-choose {
  button {
    width: 75px;
  }
}
.screenForm {
  fieldset {
    padding: 5px 10px;
  }
}
.form-table {
  display: block;
  // margin: 0 auto;
  /*为表格设置合并边框模型*/
  border-collapse: collapse;
  /*列宽由表格宽度和列宽度设定*/
  table-layout: fixed;
  td {
    border: 1px solid #999999;
    /*允许在单词内换行。*/
    word-break: break-word;
    // line-height: 28px;
  }
  td.sfxjcx {
    text-align: center;
  }
  .t-header {
    text-align: center;
  }
  .t-head-cz-icon {
    font-size: 18px;
    // color: #f56c6c;
    cursor: pointer;
  }
}
/*筛选其他按钮配置、列表、表格右侧按钮配置*/
.other-btn-table {
  // width: 380px;
  .t-head {
    text-align: center;
    .t-head-cz {
      i {
        font-size: 18px;
        // color: #f56c6c;
        cursor: pointer;
      }
    }
  }
  .t-body-cz {
    text-align: center;
    i {
      font-size: 18px;
      cursor: pointer;
    }
    i.disabled {
      cursor: no-drop;
      color: #c0c4cc;
    }

    i.remove {
      color: red;
    }
  }
}
/*settingData*/
.settingData {
  .el-dialog {
    width: 600px;
    .el-form-item {
      margin-bottom: 10px;
    }
    .el-form-item__label {
      padding-right: 5px;
    }
    .rightIcon {
      padding-top: 5px;
    }
  }
}
/*表格、列表右侧按钮配置模块*/
.operate-button-setting-dialog {
  .el-dialog {
    width: 600px;
    .operate-button-table {
      width: auto;
    }
  }
}
/*按钮事件js脚本配置*/
.js-methods-setting-dialog {
  .el-dialog {
    width: 500px;
  }
}
/*staticWhere*/
.staticWhere {
  position: absolute;
  transition: 0.3s;
  opacity: 0;
  height: 0px;
  top: 30px;
  right: 2px;
  width: 300px;
  max-width: ~'calc(100% - 4px)';
  // height: 200px;
  box-shadow: 0 0 3px #bebec0;
  background: white;
  z-index: 9;
  max-height: ~'calc(100% - 50px)';
  overflow: auto;

  .el-form-item__content .el-input-group {
    vertical-align: middle;
  }

  .el-form-item {
    margin-bottom: 10px;
  }

  .el-radio {
    margin-right: 15px;
  }

  .el-checkbox {
    margin-right: 15px;
    // line-height: 25px;
  }

  .staticWhereBottom {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    // justify-items: right;
  }
}

.staticWhere.active {
  height: auto;
  padding: 10px;
  opacity: 1;
  // width: 300px;
  // right: 2px;
}

/*判断弹窗组件*/
.judge-pop-model {
  .el-dialog {
    width: 450px;
    // top: ~'calc(50vh - 62px)';
    // margin-top: 0 !important;
  }
  .el-dialog__body {
    .content {
      i,
      .txt1 {
        color: red;
      }
      // text-align: center;
    }
  }
  .el-dialog__footer {
    padding: 10px 20px;
  }
}
/*dialog 公共配置*/
.dialog-common {
  .el-dialog__header,
  .el-dialog__footer {
    padding: 10px 20px;
    .el-dialog__title {
      font-size: 16px;
    }
    .el-dialog__headerbtn {
      top: 14px;
    }
  }
  .el-dialog__body {
    padding: 5px 20px;
  }
}
/*详情配置组件 */
.destail-setting {
  .el-dialog {
    width: 550px;
    .el-dialog__body {
      overflow: auto;
      max-height: 500px;
    }
    fieldset {
      padding: 5px 10px;
    }
    .zdpz-ul {
      margin-top: 10px;
    }
    .zdpz_list {
      display: inline-block;
      border-right: 1px solid @border;
      border-bottom: 1px solid @border;
      li {
        display: flex;
        justify-items: center;
        .hTxt {
          display: block;
          border-left: 1px solid @border;
          border-top: 1px solid @border;
          width: 100px;
          height: auto;
          text-align: center;
          line-height: 28px;
          padding: 1px 3px;
        }
        .hTxt.icons {
          width: 120px;
        }
        .hTxt1 {
          width: 75px;
          .el-input-number--small {
            width: 100%;
          }
          .el-input-number.is-controls-right .el-input__inner {
            padding-left: 5px;
            padding-right: 35px;
          }
        }
        .hTxt5 {
          width: 60px;
        }
      }
      li.box-shadow-error {
        box-shadow: 0 0 5px red;
      }
    }
  }
}

/*详情展示弹窗*/
.destail-wrap .detail_box:hover .page_detail {
  display: block;
}

.detail_box {
  position: relative;
  border-right: 1px solid @border;
  border-top: 1px solid @border;
  .page_detail {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    font-size: 35px;
    top: 50%;
    margin-top: -20px;
    z-index: 99;
    // color: #0081ba;
    cursor: pointer;
    display: none;
    opacity: 0.8;
  }
  .page_prev {
    left: -10px;
    right: auto;
  }
  .page_next {
    left: auto;
    right: -10px;
  }
  .page_prev.first,
  .page_next.last {
    opacity: 0.3;
    cursor: no-drop;
  }
  .detail_row {
    display: flex;
    width: 100%;
    height: auto;

    .detail_col {
      display: flex;
      .key {
        width: 80px;
        padding: 5px;
        border-left: 1px solid @border;
        border-bottom: 1px solid @border;
        display: flex;
        align-items: center;
        background: #f5f5f5;
        box-sizing: border-box;
      }
      .value {
        width: calc(100% - 80px);
        padding: 5px;
        clear: right;
        border-left: 1px solid @border;
        border-bottom: 1px solid @border;
        word-break: break-all;
        word-wrap: break-word;
        max-height: 81px;
        overflow: auto;
        box-sizing: border-box;
      }
      .value.bg {
        background: #dcdcdc;
      }
    }
  }
}

@media screen and (max-height: 800px) {
  .settingForm .el-dialog,
  .destail-setting .el-dialog {
    // margin-top: 5vh !important;
    // top: 50%;
    // transform: translateY(-50%);
    margin-top: 3vh !important;
    margin-bottom: 0;
    .el-dialog__body {
      max-height: 400px;
    }
  }

  .QXStatistics,
  .YDGCStatistics {
    .statistics_title .box .t_list {
      left: auto;
      right: 20px;
      padding-right: 5px;
      padding-left: 0;
      z-index: 99;
    }
  }

  #explainWrap {
    overflow-y: auto;
  }
}

/*查询模块样式*/
.static-where-2 {
  display: flex;
  // border-bottom: 1px solid @border;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  .where-left {
    display: flex;
  }
  .where-form {
    display: flex;
    .el-form-item__label {
      padding-right: 0px;
      text-align: left;
      color: #999999;
    }
    .el-form-item {
      margin-bottom: 0;
      margin-right: 5px;
    }
    .el-input__inner {
      padding: 0 5px;
    }
    .el-form-item__content {
      // line-height: 32px;
    }
    .el-radio-group.border {
      padding: 6px 2px;
      border: 1px solid @border;
      border-radius: 5px;

      label {
        margin-right: 10px;
      }
    }
    .el-radio {
      margin-right: 0;
      margin-left: 5px;
    }
    .el-date-editor--date,
    .el-date-editor--datetime {
      input {
        text-indent: 24px;
      }
    }
    .el-checkbox-group {
      margin-top: 3px;
      // padding: 0 2px;
      display: flex;
      // border: 1px solid @border;
      // border-radius: 5px;
      height: 30px;
      line-height: 30px;
      .el-checkbox {
        margin-right: 10px;
      }
      .el-checkbox.is-bordered {
        margin-right: 0;
        line-height: 20px;
      }
    }
  }

  .staticWhereBottom {
    line-height: 39px;
    margin-left: 10px;
  }
  .where-right {
    display: flex;
    button {
      height: 32px;
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}

/*顶部栏样式配置*/
.top-bar-wrap {
  position: relative;
  z-index: 9;
  .operation {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    display: inline-block;
    background: #ffffffbd;
    display: none;
    i {
      font-size: 24px;
      cursor: pointer;
      padding: 0 2px;
    }
    .el-icon-delete {
      color: red;
    }
  }
  &:hover .operation {
    display: block;
  }
  .top-bar-box {
    display: flex;
    width: 100%;
    li {
      flex: 1;
      margin-left: 5px;
      padding: 5px;
      border-radius: 5px;
      min-height: 80px;
      background: url(../images/u771.png);
      background-size: 100% 100%;
      color: white;
      text-align: center;
      > .list-box {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      .test {
        display: flex;

        justify-content: center;
      }
      .txt1 {
        font-size: 16px;
        margin-bottom: 10px;
      }
      .txt2 {
        font-size: 20px;
        font-weight: 700;
        .t1 {
          font-weight: 500;
        }
        .t2 {
          font-size: 14px;
          font-weight: 500;
        }
      }
      .txt3 {
        font-size: 14px;
        font-weight: 700;
        flex: 1;
        margin-left: 5px;
        border-left: 1px solid @border;
        .t1 {
          font-weight: 500;
        }
        .t2 {
          font-size: 12px;
          font-weight: 500;
        }
      }
      .txt3:first-child {
        margin-left: 0;
        border: none;
      }
    }
    li:nth-child(2n) {
      background: url(../images/u772.png);
      background-size: 100% 100%;
    }
    li:first-child {
      margin-left: 0;
    }
  }
}

/*顶部栏编辑弹窗样式*/
.top-bar-setting {
  .el-dialog {
    width: 1200px;
    .el-form {
      display: block;
      width: 100%;
    }
    .setting-box {
      width: 100%;
    }
    .top-bar-setting-box {
      // width: 646px;
      // margin-left: 5px;
      display: block;
      // padding: 10px;
      .warning {
        color: #e6a23c;
      }
    }
    .top-bar-setting-list {
      margin-left: 0;
      .txt2 {
        width: 150px;
      }
    }
  }
}

/*iframe嵌入*/
.static-iframe {
  display: block;
  width: 100%;
}
.iframe-statistics-wrap {
  padding: 0;
  border-radius: 0;
  .statistics_title {
    display: none;
    position: absolute;
    padding: 5px 10px 0;
    // padding-top: 5px;
    width: ~'calc(100% - 22px)';
    top: 2px;
    left: 2px;
    z-index: 8;
    background: #f5f8fb;
  }
  .statisticsBox .statistics-content {
    padding: 0;
  }
  &:hover .statistics_title {
    display: block;
  }
}

/*菜单编码弹窗*/
.menu-form-setting {
  .el-dialog {
    width: 600px;
    margin-top: 150px;
    .el-form-item {
      margin-bottom: 20px;
    }
  }
}
