#bao-wei-charts.charts-theme1 {
  .el-loading-mask {
    background: rgba(255, 255, 255, 0.5) !important;
  }
  .KFQ_wrap {
    .el-header {
      background: #0a1a33 !important;
    }
    .el-main {
      background: #11193c;
      .statisticsWrap {
        border-radius: 0;
        .statisticsBox {
          background: #0b1127;
        }
        //
        .statistics_title {
          // height: 100px;
          background: #162d50 !important;
          border-bottom-color: #59595c;
          .box {
            border-color: #64757d !important;
            .top {
              border: 1px solid #64757d;
            }
            .left .txt2 {
              color: #a9dbfb !important ;
            }
            .right {
              color: #c3a9a9;
              .el-icon-delete {
                color: #c3a9a9;
              }
            }
          }
        }
        .bw_list1 {
          color: white;
        }
        #bw_table {
          .el-table {
            background: #0b1127;
            th,
            td {
              background: #0b1127;
              color: white;
            }
          }
        }
        .bw_list1,
        #bw_table {
          .el-pagination {
            .el-pagination__total,
            .el-pagination__jump {
              color: white;
            }
            .el-input__inner {
              background: #162d50;
              color: white;
            }
            .btn-prev,
            .btn-next,
            .el-pager li {
              background: #162d50;
              color: white;
              &:hover,
              &.active {
                color: #409eff;
              }
            }
          }
        }

        .stataic_destail_table {
          .detail_box .detail_row .detail_col {
            color: white;
            .key {
              background: #1a2344;
            }
          }
        }
      }
    }
  }
}

// rgba(255, 255, 255, 0.2)
